# will have compiled files and executables
target/
debug/
node_modules
dist/
yarn-error.log
# Mac OSX temporary files
.DS_Store
**/.DS_Store
# Various IDEs and Editors
.vscode/
.idea/
**/*~
**/*.rs.bk
*.pdb
#Cargo.lock for executable backend

# ORM
entities
aarchives
examples
backendFunc
removed.rs
zz*.sh
.env
zTODO.rs
localhost


# Added by cargo

/target
