DATABASE_URL=protocol://username:password@host/db_name
DB_MYSQL_URL=
DB_POSTGRES_URL=
JWT_SECRET_KEY=
JWT_MAXAGE_IN_MINUTES=60

SMTP_SERVER=smtp.your-email-provider.com
SMTP_PORT=587 # Common ports: 587 (TLS), 465 (SSL), 25 (non-secure)
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_email_password
SMTP_FROM_ADDRESS=no-reply@yourdomain.com

HASHCOST=8
ETHERSCAN_KEY=
MNEMONIC=
INFURA_KEY=
NETWORK=sepolia
MORALIS_KEY=
PRIVATE_KEY0=
ETH_ADDR0=
ETH_ADDR1=
ETH_ADDR2=0x
ETH_ADDR3=0x
ETH_ERC20TOKEN=
ETH_ERC20TOKEN_OWNER=
CHAINLINK_AGGR_V3_BTCUSD=
CHAINLINK_AGGR_V3_ETHUSD=
COINMARKETCAP=